[submodule "Angular-Morning-and-Afternoon/angular-assignment"]
	path = Angular-Morning-and-Afternoon/angular-assignment
	url = https://github.com/AbuSharp1215/angular-assignment.git
[submodule "ReactNative-Fullsession(1&2)/React-Native-assignment"]
	path = ReactNative-Fullsession(1&2)/React-Native-assignment
	url = https://github.com/AbuSharp1215/React-Native-assignment.git
[submodule "Reactjs-Afternoon/Reactjs-Table-Demo"]
	path = Reactjs-Afternoon/Reactjs-Table-Demo
	url = https://github.com/AbuSharp1215/Reactjs-Table-Demo.git
[submodule "Java Code Quality - Morning/javacodequalitytask"]
	path = Java Code Quality - Morning/javacodequalitytask
	url = https://github.com/AbuSharp1215/javacodequalitytask.git
